body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
}



.navbar {
    font-family: 'Poppins', sans-serif; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.navbar-logo {
    max-width: 100px; 
}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    display: inline;
    margin-right: 20px;
}

.navbar-links li:last-child {
    margin-right: 0;
}

.navbar-links a {
    color: #1C1415; 
    text-decoration: none;
    font-size: 16px; 
    font-weight: 800;
}

.sign-up-button {
    background: #1C1415;
    color: #ffffff; 
    border: none;
    padding: 8px 16px;
    font-size: 16px; 
    cursor: pointer;
    border-radius: 30px;
}

.container {
    display: flex;
    width: 80%;
    height: 70%;
    max-width: 1200px;
}

.left-section, .right-section {
    flex: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.left-section{
    flex-direction: column-reverse;
}
.right-section .splide {
    height: 100%;
}

.product-info {
    display: none;
}

.product-info.active {
    display: block;
}

.product-title {
    margin-top: 30px;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
    font-weight: 900;
}

.product-subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 15px;

}

.product-subtitle span {
    color: black;
}

.product-description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    overflow: hidden;
    color:#1C1415 ;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product-price {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

.bottom-section{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    margin-right: 25rem;
}
.bottom-section span i{
    font-size: 2rem;
}

.splide__arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
}

.splide__arrow {
    background: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:500px) {
    .container{
        flex-direction: column-reverse;
    }
    .left-section{
        padding: 0;
    }
    .bottom-section{
        margin-right: 3rem;
    }
    .product-title{
        font-size: 2rem;

    }
    .product-subtitle{
        font-size: 1.5rem;
    }
    .product-description{
        font-size: 1rem;
    }
    .product-price{
        font-size: 1.5rem;
    }
}